.login-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-container form{
    width: 100%;
    max-width: 500px;
    display:flex;
    flex-direction: column;
    
}
.login-container form label{
    margin-top: 5px;
}
.login-container form input{
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color:#666;

}
.login-container form input::placeholder{
    color:#999;
}
.login-container form select{
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 4px;
    height: 48px;
    padding: 0 15px;
    font-size: 16px;
    color:#666;
    

}

.login-container form button{
    margin-top: 10px;
    border:0;
    width: 100%;
    border-radius: 4px;
    height:48px;
    font-size: 16px;
    background: #056;
    font-weight: bold;
    color:#fff;
    cursor:pointer;
}

.login-container-filter form{
    margin-top: 15px;
    width: 100%;
    max-width: 500px;
    display:flex;
    flex-direction: column;
    
}
.login-container-filter form label{
    margin-top: 10px;
    width: 700px;
    font-weight: bold;
}
.login-container-filter form input{
    border: 1px solid #ddd;
    width: 28%;
    border-radius: 4px;
    height: 35px;
    padding: 0 20px;
    font-size: 16px;
    color:#666;
    margin-left: 5px;
    margin-right: 5px;

}
.login-container-filter form select{
    border: 1px solid #ddd;
    width: 20%;
    border-radius: 4px;
    height: 35px;
    padding: 0 20px;
    font-size: 16px;
    color:#666;
    margin-left: 5px;
    margin-right: 5px;

}
.login-container-filter form button{

    width: 15%;
    height: 35px;
    font-size: 16px;
    background: #054;
    font-weight: bold;
    color:#fff;

}
